* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border: thin solid black;
    text-align: center;
    background-color: rgba(135, 207, 235, 0.841);
}

#navigation {
    display: none;
}

nav {
    background-color: darkblue;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
}

nav li {
    list-style-type: none;
}

nav li a {
    color: white;
    text-decoration: none;
    padding: 5px 30px;
}

nav a:hover {
    background-color: white;
    color: black;
    border-radius: 10px;
}

#hero {
    background: url("santorini.jpg");
    background-size: 100% 100%;
    background-blend-mode: darken;
    padding: 20%;
}

.title {
    background-color: rgb(255, 255, 255);
    color: black;
    align-items: center;
    margin: auto;
    width: 40%;
    padding: 10px;
    border-radius: 25px;
}

#skip {
    position: absolute;
    transform: translateY(-100%);
    transition: transform 300ms ease-in;
}

#skip:focus {
    background-color: white;
    padding: 10px;
    text-decoration: none;
    transform: translateY(0%);
}

section {
    background-color: white;
    margin: 3% 10%;
    padding: 2% 0;
}

section p {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 10px 0;
}

#table {
    border-collapse: collapse;
    margin: auto;
    width: 60%
}

caption {
    margin-top: 25px;
    font-weight: bold;
    border: 1px solid black;
    font-size: 18px;
    padding: 10px;
}

td, th {
    border: 1px solid black;
    padding: 10px 15px;
}

.todo {
    width: 60%;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5px 105px;
    align-items: center;
}

.gallery>figure {
    margin: 30px;
}

figcaption {
    background-color: rgba(0, 0, 139, 0.841);
    padding: 5px;
    border-radius: 25px;
    color: white;
}

.gallery-images img {
    width: 200px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
}

@media screen and (max-width: 900px) {
    #wrapper {
        width: 95%;
    }

    .title {
        background-color: rgba(255, 255, 255, 0.813);
        color: black;
        align-items: center;
        margin: auto;
        width: 90%;
        padding: 10px;
        border-radius: 30px;
    }

    #table {
        width: 95%
    }

    section {
        margin: 3% 1%;
    }

    section p {
        width: 80%;
    }

    td, th {
        padding: 10px 5px;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
    }

    .nav-links li {
        padding: 5px 0px;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 5px 15px;
        align-items: center;
    }

    .gallery>figure {
        margin: 10px;
    }

    .gallery img {
        width: 100%;
    }

    figcaption {
        text-align: center;
    }

}